:root {
  --aqua-hover: #519dd3;
  --aqua: #5fade5;
  --close-button-color: #ff605c;
  --close-button-hover: #e34a47;
  --minimize-button-color: #ffbd44;
  --minimize-button-hover: #d4a349;
  --expand-button-color: #00ca4e;
  --expand-button-hover: #03b447;
}

h1 {
  text-align: center;
  padding: 0 0 1.25rem 0;
}

/* Navigation bar */
.folder {
  color: var(--aqua);
}

.folder:hover {
  color: var(--aqua-hover);
  transition: 0.1s ease-in;
}

/* Terminal-inspired cards */
.section-card {
  height: auto;
  margin-bottom: 8px;
}

.portfolio-pic {
  margin-left: 1.2rem;
  border-radius: 10px;
}

.close {
  color: var(--close-button-color);
}

.close:hover {
  color: var(--close-button-hover);
  transition: 0.1s ease-in;
}

.minimize {
  color: var(--minimize-button-color);
}

.minimize:hover {
  color: var(--minimize-button-hover);
  transition: 0.1s ease-in;
}

.expand {
  color: var(--expand-button-color);
}

.expand:hover {
  color: var(--expand-button-hover);
  transition: 0.1s ease-in;
}

.open-folder {
  margin-left: auto;
}

/* Accordion */
.accordion-button {
  --bs-accordion-btn-bg: #212529;
  --bs-accordion-btn-color: #ffffff;
}

.accordion-body {
  background-color: #212529;
}

.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.projects-text {
  color: #ffffff;
}

/* Media queries for responsive design */
@media (min-width: 0px) {
  .folder {
    font-size: x-large;
  }
  .folder-text {
    font-size: x-small;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .portfolio-pic {
    clip-path: circle(30%);
    height: 300px;
    width: 300px;
    margin-top: -60px;
    margin-bottom: -40px;
  }
  .about-text,
  .prev-work-text,
  .projects-text {
    font-size: medium;
  }
}

@media (min-width: 1200px) {
  .folder {
    font-size: xx-large;
  }
  .folder-text {
    font-size: small;
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .portfolio-pic {
    height: 550px;
    width: 350px;
  }
  .about-text,
  .prev-work-text,
  .projects-text {
    font-size: x-large;
  }
}
