:root {
  --taupe: #9a9590;
  --gray: #aaa7a5;
  --close-button-color: #ff605c;
  --minimize-button-color: #ffbd44;
  --expand-button-color: #00ca4e;
}

h1 {
  text-align: center;
  padding: 0 0 1.25rem 0;
}

/* Navigation bar */
.folder {
  color: var(--gray);
}

.folder:hover {
  color: var(--taupe);
  transition: 0.1s ease-in;
}

/* Terminal-inspired cards */
.section-card {
  height: 80vh;
}

.portfolio-pic {
  margin-left: 1.2rem;
  border-radius: 10px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.close {
  color: var(--close-button-color);
}

.minimize {
  color: var(--minimize-button-color);
}

.expand {
  color: var(--expand-button-color);
}

.open-folder {
  margin-left: auto;
}
