:root {
  --taupe: #9a9590;
  --gray: #aaa7a5;
  --close-button-color: #ff605c;
  --close-button-hover: #e34a47;
  --minimize-button-color: #ffbd44;
  --minimize-button-hover: #d4a349;
  --expand-button-color: #00ca4e;
  --expand-button-hover: #03b447;
}

h1 {
  text-align: center;
  padding: 0 0 1.25rem 0;
}

/* Navigation bar */
.folder {
  color: var(--gray);
}

.folder:hover {
  color: var(--taupe);
  transition: 0.1s ease-in;
}

/* Terminal-inspired cards */
.section-card {
  height: auto;
  padding-bottom: 15px;
}

.portfolio-pic {
  margin-left: 1.2rem;
  border-radius: 10px;
}

.close {
  color: var(--close-button-color);
}

.close:hover {
  color: var(--close-button-hover);
  transition: 0.1s ease-in;
}

.minimize {
  color: var(--minimize-button-color);
}

.minimize:hover {
  color: var(--minimize-button-hover);
  transition: 0.1s ease-in;
}

.expand {
  color: var(--expand-button-color);
}

.expand:hover {
  color: var(--expand-button-hover);
  transition: 0.1s ease-in;
}

.open-folder {
  margin-left: auto;
}

/* Media queries for responsive design */
@media (min-width: 0px) {
  .section-card {
    height: auto;
    margin-bottom: 15px;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .portfolio-pic {
    clip-path: circle(30%);
    height: 300px;
    width: 300px;
    margin-top: -60px;
    margin-bottom: -40px;
  }
  .about-text {
    font-size: medium;
  }
}

@media (min-width: 1200px) {
  .content {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .portfolio-pic {
    height: 550px;
    width: 350px;
  }
  .about-text {
    font-size: x-large;
  }
}
